In [ ]:
# basic operators

a = 200
b = 40
print (a+b)  #1
print (a-b)  #2
print (a*b)  #3
print (a/b)  #4
print (a%b)  #5.modulus gives us whatever remainder
print (a//b) #6.floor division gives us quotient down to nearest integer
print (a**b) #7.exponentiation tells to multiply itself by other number of times
             #eg:multiply 200, 40 times
             #200*200*200....40 times

240
160
8000
5.0
0
5
109951162777600000000000000000000000000000000000000000000000000000000000000000000000000000000

In [ ]:
# comparision operators

a = 100
b = 20
print (a == b)  #1. equal to/comparision
print (a != b)  #2.
print (a > b)    #3.
print (a < b)    #4.
print (a >= b)   #5.
print (a <= b)   #6.

False
True
True
False
True
False

In [ ]:
# assignment operators

# eg: a = a + b => a += b

a = 100
b = 20
a += b
print (a,b)
a -= b
print (a,b)
a *= b
print (a,b)
a /= b
print (a,b)
a %= b
print (a,b)
a //= b
print (a,b)
a **= b
print (a,b)

#below answers depends on the numbers above
#if done individually gives different results

120 20
100 20
2000 20
100.0 20
0.0 20
0.0 20
0.0 20

In [ ]:
a = 100
b = 20

#and operators all conditions must be true
print (a > 80 and b < 80)
print (a == 80 and b < 80)
print (a < 80 and b < 80)
print (a > 80 and b > 80)

#or operators one of the conditions must be true
print (a > 80 or b < 80)
print (a == 80 or b < 80)
print (a < 80 or b < 80)
print (a > 80 or b > 80)

True
False
False
False
True
True
True
True

In [ ]:
# Membership Operators

a = 100
b = [100, 200, 300, 400, 500]
c = 600
print (a in b)
print (c in b)
print (a not in b)
print (c not in b)

True
False
False
True

In [ ]:
# Identity Operators
a = 100
b = 20

print (a is b)
print (a is not b)

False
True

In [ ]:
# 'and' or 'or' statements

a = 100
b = 20

# and operators works only when both the conditions is true
if (a > b) and (a != b): #true
  print('a is greater than b')

if (a > b) and (a == b):
  print('a is greater than b') #false

# or opeartors one of the condition must be true

if (a > b) or (a != b): #true
  print('a is greater than b')

if (a > b) or (a == b): #false
  print('a is greater than b')

a is greater than b
a is greater than b
a is greater than b

In [ ]:
# 'if' and 'else' statements

a = 100
b = 20

if (a > b) and (a != b): #true #and statement
  print('true')
else:
  print('false')

if (a > b) and (a == b):# false #and statement
    print('true')
else:
    print('false')

if (a > b) or (a == b): #true #or statement
  print('true')
else:
  print('false')

if (a > b) or (a == b): # true #or statement
  print('true')
else:
  print('false')

if (a < b) or (a ==b): #false
  print('true')
else:
  print('false')

true
false
true
true
false

In [ ]:
percentage = 78
percentage = 65
percentage = 50
percentage = 35

if percentage >=75:
  print('first class with distinction')
elif percentage >=60:
  print('first class')
elif percentage >=40:
  print('second class')
else:
  print('better luck next time')

better luck next time

In [ ]:
a = 100

if a > 25:
  print ('a > 25')
  if a > 50:
    print ('a > 50')
    if a > 75:
      print ('a > 75')
      if a > 100:
        print ('a > 100')
      if a > 125:
        print ('a > 125')

a > 25
a > 50
a > 75