hello world

In [ ]:
name = 'Ganesh'
print (type(name))

<class 'str'>

In [ ]:
print("hello world")

hello world

In [6]:
Str1 = 'Data is Future'
print (Str1)
Str2 = "Data is Future"
print (Str2)
Str3 = '''Data is Future. I am learning 'Data Science'.'''
print (Str3)
Str4 = """Data is Future. I am learning "Data Science"."""
print (Str4)
print (type(Str4))

Data is Future
Data is Future
Data is Future. I am learning 'Data Science'.
Data is Future. I am learning "Data Science".
<class 'str'>

In [18]:
lst1 = [1,2,3]
lst2 = [1.11, 2.22, -3.33]
lst3 = ['True']
print(lst1)
print(lst2)
print(lst3)
print(type(lst3))

tup1 =(1,2,3)
tup2 =(1.11,2.22,3.33)
tup3 =('False')
print (tup1)
print (tup2)
print (tup3)
print(type(tup1))

set1 = {0,1,2,3,'a','b','c',"Data","Science",True,False}
print (set1)
print(type(set1))

[1, 2, 3]
[1.11, 2.22, -3.33]
['True']
<class 'list'>
(1, 2, 3)
(1.11, 2.22, 3.33)
False
<class 'tuple'>
{0, 1, 2, 3, 'b', 'a', 'c', 'Data', 'Science'}
<class 'set'>

In [23]:
dict1 = {'a':'andy', 'x':(1,2,3), 'y':("Andy","Barry","Harry"), 'z':True}
print (dict1)
print (type(dict1))

{'a': 'andy', 'x': (1, 2, 3), 'y': ('Andy', 'Barry', 'Harry'), 'z': True}
<class 'dict'>

In [56]:
x = 'GaneshGurung'
print (x)
print (type(x))
print (len(x))
print (x[0])
print (x[1])
print (x[2])
print (x[3])
print (x[4])
print (x[5])
print (x[6])
print (x[7])
print (x[8])
print (x[9])
print (x[10])
print (x[11])
print (x[0:6:1], x[6:12:1])
print (x[0:6:6], x[6:12:6])

GaneshGurung
<class 'str'>
12
G
a
n
e
s
h
G
u
r
u
n
g
Ganesh Gurung
G G

In [57]:

x[0:6:1], x[6:12:1]

('Ganesh', 'Gurung')

In [65]:
x[:6:], x[6:12:], x[:len(x):], x[:12:]

('Ganesh', 'Gurung', 'GaneshGurung', 'GaneshGurung')

In [54]:
x[0:6:6], x[6:12:6]

('G', 'G')