**Tuesday Aug 22, 2023**

**Inheritance**

In [ ]:
class person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, ' ', self.lastname)

In [ ]:
class childclass(person):    #pass means pass through
  pass

In [ ]:
obj2 = childclass('Ganesh','G')
obj2.printname()

Ganesh   G

===============================================================================

In [ ]:
class person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print("class person: ", self.firstname, ' ', self.lastname)

In [ ]:
class childperson(person):
  def __init__ (self, fname, lastname):
    self.firstname = fname
    self.lastname = lastname

  def printname(self):
    print("class childperson: ", self.firstname, ' ', self.lastname)

In [ ]:
obj1 = childclass ('Ganesh','G')
obj1.printname()

Ganesh   G

===========================================================================

In [ ]:
class Vehicle:
  def __init__ (self, vname, vtype):
    self.vehiclename = vname
    self.vehicletype = vtype

  def car(self):
    print("Vehicle: ",self.vehiclename, self.vehicletype)

In [ ]:
obj1 = Vehicle ('Tesla','Y')

In [ ]:
obj1.car()

In [ ]:
class Kind(Vehicle):
  pass

In [ ]:
obj2 = Kind('Tesla','Electric')

In [ ]:
obj2.car()

==============================================================================

In [ ]:
class vehicle:
  def __init__ (car, name, kind):
    car.name = name
    car.kind = kind

  def printname (car):
    print(car.name, ' ', car.kind)

class vehicle2(vehicle):
  def __init__ (car, name, model, kind):
    super(). __init__ (name, kind)
    car.model = model
    print(car.name, ' ', car.kind, ' ', car.model)

obj = vehicle2('Tesla', 'Y', 'Electric')

Tesla   Electric   Y

======================================================================

In [7]:
class Inst_User():
  def __init__ (user, name, age, email):
    user.name = name
    user.age = age
    user.email = email

  def printname (user):
    print(user.name)
    print(user.age)
    print(user.email)

class Inst_User2(Inst_User):
  def __init__ (user, name, age, email, phone_no):
    super().__init__(name, age, email)
    user.phone_no = phone_no

  def printname2 (user):
    print(user.phone_no)

In [8]:
obj1 = Inst_User2('Jay', 23, 'jay23@email.com', 1234346)

In [9]:
obj1.printname()
obj1.printname2()

Jay
23
jay23@email.com
1234346