<a href="https://colab.research.google.com/github/ganys88/DataScienceBootCamp/blob/main/Basic_Python_Operators.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
# basic operators

a = 200
b = 40
print (a+b)  #1
print (a-b)  #2
print (a*b)  #3
print (a/b)  #4
print (a%b)  #5.modulus gives us whatever remainder
print (a//b) #6.floor division gives us quotient down to nearest integer
print (a**b) #7.exponentiation tells to multiply itself by other number of times
             #eg:multiply 200, 40 times
             #200*200*200....40 times

240
160
8000
5.0
0
5
109951162777600000000000000000000000000000000000000000000000000000000000000000000000000000000

In [11]:
# comparision operators

a = 100
b = 20
print (a == b)  #1. equal to/comparision
print (a != b)  #2.
print (a > b)    #3.
print (a < b)    #4.
print (a >= b)   #5.
print (a <= b)   #6.

False
True
True
False
True
False

In [19]:
# assignment operators

# eg: a = a + b => a += b

a = 100
b = 20
a += b
print (a,b)
a -= b
print (a,b)
a *= b
print (a,b)
a /= b
print (a,b)
a %= b
print (a,b)
a //= b
print (a,b)
a **= b
print (a,b)

#below answers depends on the numbers above
#if done individually gives different results

120 20
100 20
2000 20
100.0 20
0.0 20
0.0 20
0.0 20

In [22]:
a = 100
b = 20

#and operators all conditions must be true
print (a > 80 and b < 80)
print (a == 80 and b < 80)
print (a < 80 and b < 80)
print (a > 80 and b > 80)

#or operators one of the conditions must be true
print (a > 80 or b < 80)
print (a == 80 or b < 80)
print (a < 80 or b < 80)
print (a > 80 or b > 80)

True
False
False
False
True
True
True
True

In [26]:
# Membership Operators

a = 100
b = [100, 200, 300, 400, 500]
c = 600
print (a in b)
print (c in b)
print (a not in b)
print (c not in b)

True
False
False
True

In [27]:
# Identity Operators
a = 100
b = 20

print (a is b)
print (a is not b)

False
True