**Tuesday**, **Aug** **15**, **2023**- **Day** **7**

In [ ]:
lst1 = [12,23,34,45,56,67,78,89,90]
for i in lst1:
  print('value of i is:', i)

In [ ]:
tup1 = ('mustang','ford','toyota','tesla')
for i in tup1:
  print('value of i is:', i)

In [ ]:
set1 = {12,23,34,45,'mustang','toyota','tesla'}
for i in set1:
  print('value of i is:', i)

In [ ]:
str1 = 'Peppa Prefer Python Programming'
print (len(str1))
for i in str1:
  print ('value of i is:', i)

In [ ]:
for i in range (10):
  print ('value of i is:', i)

In [ ]:
# the result shows the keys
dict1 = {'t':'tesla','f':'ford','c':'chevy'}
for i in dict1:
  print('value of i is:', i)

In [ ]:
# 2 represents interval
for i in range (0,10,2):
  print('value of i is:', i)

In [ ]:
#break should be used in while loop
#coz it keeps running the code (executing)
num = int(input('num:'))

while (num%5==0) and (num%7==0):
  print ('it is divisible by 5 and 7')
  break
else:
  print ('it is not divisible by 5 and 7')

In [ ]:
for i in range (10,50,5):
  for j in range (0,9):
     print(i,end = ' ')
  print('\r')

In [ ]:
for i in range(10):       #draw 10 rows
  for j in range(0,10-i): #spaces from(0-10)-i
    print(' ', end='')    #print space
  for k in range(0,i+1):  #print * from (0-i)+1
    print('*', end =' ')
  print('\r')             #change line

In [ ]:
# complete code
for i in range(10):
  for j in range(0,i+1):
    print('', end=' ')
  for k in range(0,10-i):
    print('*', end =' ')
  print('\r')

In [ ]:
for i in range(10):
  for j in range(0,10-i):
    print(' ', end='')
  for k in range(0,i+1):
    print('*',end=' ')
  print('\r')

In [ ]:
for i in range(10):
  for j in range(0,i+1):
    print(' ', end='')
  for k in range(0,10-i):
    print('*', end =' ')
  print('\r')
for i in range(9):
  for j in range(0,9-i):
    print('', end=' ')
  for k in range(0,i+2):
    print('*',end=' ')
  print('\r')

In [ ]:
# need work
for i in range (0,10):
  for j in range(0,9):
    if i==1 or i==10 or j==1 or j==9:
     print('*',end = ' ')
    else:
      print(' ', end = ' ')
      print('\r')

In [ ]:

for row in range(10):
  for column in range(0,10-row):
    print(' ', end='')
  for k in range(0,row+1):
    print('*', end =' ')
  print('\r')

In [ ]:
for row in range(10):
  for col in range(0,10-row):
    if row==0 or row+col==1 or col-row==0:
      print('*',end='')
    else:
      print(end=' ')
  print('\r')

**Wednesday**, **Aug** **16**, **2023** - **Day** **8**

In [ ]:
# square
for i in range (10): # 0,1,2,3,4,5,6,7,8,9
  for j in range (10): # 0,1,2,3,4,5,6,7,8,9
    print('*', end=' ')
  print('\r')

In [ ]:
# triangle
# end represent end of line or switch line

In [ ]:
for row in range(10):            # 0,1,2,3,4,5,6,7,8,9
  for column in range(0,10-row): # 0,1,2,3,4,5,6,7,8,9
    print('-', end='')           # to understand clearly put '-' hyphen
  for k in range(0,row+1):       # 0,1,2,3,4,5,6,7,8,9
    print('*', end =' ')         # (prints * and add spaces starting from 0)
  print('\r')

# print('*',end=' ') put space after end line(end=' ')
# otherwise the triagle will be slanted because there is no space.

In [ ]:
# fibonacci series
# 0,1,1,2,3,5,8,13,21,34.....

In [ ]:
a = 2
b = 5
print (a, end = ' ')
print (b, end = ' ')
for i in range (17):
  c = a + b
  print (c, end = ' ')
  a = b
  b = c

In [ ]:
stu_record = {'sameer':89, 'sabina':77, 'raju':57, 'harry':47, 'sassy':37}
for keys, values in stu_record.items():
  print(keys, values)
  if values >=80:
    print('pass with distinction')
  elif values >= 70:
      print ('pass with good remarks')
  elif values >=60:
    print ('good job')
  elif values >=50:
      print ('need work')
  else:
        print ('better luck next time')

In [ ]:
stu_record = {'sameer':89, 'sabina':77, 'raju':57, 'harry':47, 'sassy':37}
for keys, values in stu_record.items():
  if values >= 80:
    print(keys, 'passed with grade:', 'A')
  elif values >=70:
    print(keys, 'passed with grade:', 'B')
  elif values >=60:
    print(keys, 'passed with:', 'Shit Marks')
  else:
    print(keys,'You Suck')

In [ ]:
# Type Casting Functions

In [ ]:
# iterable values : repeated values

In [ ]:
int(),float(),complex(),bool(),str()
list(),tuple(),set(),dict()

In [ ]:
int1 = 2023
print(float(int1))
print(complex(int1))
print(bool(int1))
print(str(int1))
print(list(int1)) #TypeError
print(tuple(int1)) #TypeError
print(set(int1)) #TypeError
print(dict(int1)) #TypeError

In [ ]:
#deciman => bin(), oct(), hex()

for i in range (0 , 100):
    print('Decimal: ', i)
    print('Binary: ', bin(i))
    print('Octa Decimal: ', oct(i))
    print('Hexa Decimal: ', hex(i))

In [ ]:
help(print)

In [ ]:
help(type)

In [ ]:
help(iter)

In [ ]:
help(input)

In [186]:
# User Define Functions

def sum_of_two(a, b):
  return (a+b)

In [ ]:
sum_of_two(1947, -1947)

In [ ]:
sum_of_two(3.14, -3.14)

In [ ]:
sum_of_two(12+13j, -12-13j)

In [ ]:
sum_of_two('Python','Programming')

In [ ]:
sum_of_two((12,23,34,45,56),(67,78,89,90))

In [ ]:
sum_of_two({1,2,3,4,5,6,7},{'End','Of','Game',True,False})
# TypeError: unsupported operand type(s) for +: 'set' and 'set'