In [1]:
dir(set)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [14]:
set1 = {1,2,3,4,5}
set2 = {10,20,30,40,50}
set3 = {'Hello','class','how','are','you'}

In [5]:
set1.add(6)
print(set1)
set3.add('good?')
print(set3)

{1, 2, 3, 4, 5, 6}
{'class', 'good?', 'you', 'are', 'Hello', 'how'}

In [12]:
set1.clear()
print(set1)
set3.clear()
print(set3)

set()
set()

In [16]:
set4=set3.copy()
print(set4)
set4.add('anybody sleepy?')
print(set4)

{'class', 'you', 'are', 'Hello', 'how'}
{'class', 'anybody sleepy?', 'you', 'are', 'Hello', 'how'}

In [23]:
x = {10,20,30,500,600}
y = {50,60,500,600}
i = {'a','b','c','d'}
j = {'abcd'}
k = {'a','b','c','d','e','x','y','z'}
l = {'x','y','z'}

print(x.difference(y))
print(i.difference(j))
print(i.difference(k))
print(k.difference(l))

{10, 20, 30}
{'d', 'b', 'a', 'c'}
set()
{'d', 'a', 'c', 'e', 'b'}

In [33]:
x = {10,20,30,500,600}
y = {50,60,500,600}
set1 = {'hello','class','how','are','you','good','and','awake?'}
set2 = {'hello','class','how','are','you'}

x.difference_update(y)
print(x)
set1.difference_update(set2)
print(set1)

{20, 10, 30}
{'awake?', 'good', 'and'}

In [40]:
set1 = {1,2,3,4,5,10,20,30}
set2 = {10,20,30,40,50}
i = {'a','b','c','d'}
j = {'abcd'}

print(set1.intersection(set2))
print(set1.intersection(i))

{10, 20, 30}
set()

In [42]:
set1 = {1,2,3,4,5,10,20,30}
set2 = {10,20,30,40,50}
i = {'a','b','c','d'}
j = {'abcd'}

set1.intersection_update(set2)
print(set1)
set1.intersection_update(i)
print(set1)

{10, 20, 30}
set()

In [43]:
set1 = {1,2,3,4,5,'abcd'}

set1.discard('abcd')
print(set1)

{1, 2, 3, 4, 5}

In [44]:
set1 = {1,2,3,4,5}
set2 = {'abcd'}
set3 = {1,2,3,4,5,'abcd'}

print(set1.isdisjoint(set2))
print(set1.isdisjoint(set3))
print(set2.isdisjoint(set3))

True
False
False

In [45]:
set1 = {1,2,3,4,5}
set2 = {'abcd'}
set3 = {1,2,3,4,5,'abcd'}

print(set1.issubset(set2))
print(set1.issubset(set3))
print(set2.issubset(set3))

False
True
True

In [47]:
set1 = {1,2,3,4,5}
set2 = {'abcd'}
set3 = {1,2,3,4,5,'abcd'}

print(set1.issuperset(set2))
print(set1.issuperset(set3))
print(set2.issuperset(set3))
print(set3.issuperset(set2))
print(set3.issuperset(set1))

False
False
False
True
True

In [72]:
a = {'hello','class','how','are','you'}
b = [1,2,3,4,5]

print(a.pop())
print(a)
print(b.pop())
print(b)

class
{'you', 'are', 'hello', 'how'}
5
[1, 2, 3, 4]

In [79]:
a = {'hello','class','how','are','you'}
b = [1,2,3,4,5]

a.remove('class')
print(a)
b.remove(5)
print(b)
b.remove(1)
print(b)
b.remove(3)
print(b)

{'you', 'are', 'hello', 'how'}
[1, 2, 3, 4]
[2, 3, 4]
[2, 4]

In [87]:
A = {'a', 'b', 'c', 'd'}
B = {'c', 'd', 'e' }

result = A.symmetric_difference(B)
print(result)

{'a', 'e', 'b'}

In [88]:
A = {'a', 'b', 'c', 'd'}
B = {'c', 'd', 'e' }

A.symmetric_difference_update(B)
print(A)

{'b', 'a', 'e'}

In [97]:
A = {'a', 'b', 'c', 'd'}
B = {'c', 'd', 'e' }

print(A.union(B))
union = A.union(B)
print(union)

{'a', 'c', 'e', 'd', 'b'}
{'a', 'c', 'e', 'd', 'b'}

In [96]:
A = {'a', 'b', 'c', 'd'}
B = {'c', 'd', 'e' }

difference = A.difference(B)
print(difference)

{'b', 'a'}