In [14]:
class noodles:
  def __init__ (self,name,kind,flavor,price):
    self.name = name
    self.kind = kind
    self.flavor = flavor
    self.price = price


  def printname (self):
    print(self.name,self.kind,self.flavor,self.price)

In [15]:
obj1 = noodles('shin','spicy','chicken','20')

In [18]:
obj1.printname()

shin spicy chicken 20

===========================================================================

In [ ]:
class person :
  def __init__ (self, fname, lastname):
    self.firstname = fname
    self.lastname = lastname

  def printname(self):
    print("person: ", self.firstname, ' ', self.lastname)

In [ ]:
class childperson(person):
  def __init__ (self, fname, lastname):
    self.firstname = fname
    self.lastname = lastname

  def printname(self):
    print("class childperson: ", self.firstname, ' ', self.lastname)

In [ ]:
obj1 = childperson ('Ganesh','G')
obj1.printname()

===============================================================================

**pass meaning passing or pass thru**

========================================================================================

In [29]:
class vehicle():
  def __init__ (car, name, kind):
    car.name = name
    car.kind = kind

  def printname (car):
    print(car.name, ' ', car.kind)

class vehicle2(vehicle):
  def __init__ (car, name, model, kind):
    super(). __init__ (name, kind)
    car.model = model
    print(car.name, ' ', car.kind, ' ', car.model)

obj = vehicle2('Tesla', 'Y', 'Electric')

Tesla   Electric   Y

=========================================================================

In [44]:
class vehicle():
  def __init__ (car, name, model):
    car.name = name
    car.model = model

  def printname (car):
    print(car.name, ' ', car.model)

class vehicle2(vehicle):
  pass

In [45]:
obj3 = vehicle('Tesla','Y')
obj4 = vehicle2('Tesla','Y')

In [46]:
obj3.printname()
obj4.printname()

Tesla   Y
Tesla   Y

===================================================================

In [68]:
class vehicle():
  def __init__ (car, brand, model, price):
    car.brand = brand
    car.model = model
    car.price = price

  def printname(car):
    print(car.brand)
    print(car.model)
    print(car.price)

class vehicle2(vehicle):
  def __init__ (car, brand, model, price, year):
    car.brand = brand
    car.model = model
    car.price = price
    car.year = year

  def printname(car):
    print(car.brand, car.model, car.price, car.year)

In [65]:
obj1 = vehicle('Ford','Bronco', 50000)
obj2 = vehicle2 ('Ford','Bronco', 50000, 2023)

In [66]:
obj1.printname()
obj2.printname()

Ford
Bronco
50000
Ford Bronco 50000 2023

====================================================================

In [97]:
class Inst_User():
  def __init__ (user, name, age, email):
    user.name = name
    user.age = age
    user.email = email

  def printname (user):
    print(user.name)
    print(user.age)
    print(user.email)

class Inst_User2(Inst_User):
  def __init__ (user, name, age, email, phone_no):
    super().__init__(name, age, email)
    user.phone_no = phone_no

  def printname2 (user):
    print(user.phone_no)

In [98]:
obj1 = Inst_User2('Jay', 23, 'jay23@email.com', 1234346)

In [101]:
obj1.printname()
obj1.printname2()

Jay
23
jay23@email.com
1234346

====================================================================