# Exploratory Data Analysis

EDA is used by data scientists to analyze data sets employing data visualization method. Graphs, Charts, Graphs, Pie-charts.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [ ]:
path = '/content/zomato.csv'
df_zomato = pd.read_csv(path, encoding='latin-1')
df_zomato

In [ ]:
df_zomato.head(10)              #top 10 results

In [ ]:
df_zomato.tail(10)

In [ ]:
df_zomato.info()

In [ ]:
df_zomato.columns

In [ ]:
df_zomato.describe()

In [ ]:
df_zomato

In [ ]:
df_zomato.shape

In [ ]:
df_zomato.City.unique()

In [ ]:
df_zomato[['City','Rating text']]

In [ ]:
df_zomato[(df_zomato.City == 'Makati City')]

In [ ]:
df_zomato

# **In Data Analysis What All Things We Do:**

1. Missing Values
2. Explore About the Numerical Variables
3. Explore About categorical Variables
4. Finding Relationship between features

In [ ]:
df_zomato.isna().sum()

In [ ]:
df_zomato.isnull()

In [ ]:
df_zomato.isnull().sum()

In [31]:
df_zomato.columns

Index(['Restaurant ID', 'Restaurant Name', 'Country Code', 'City', 'Address',
       'Locality', 'Locality Verbose', 'Longitude', 'Latitude', 'Cuisines',
       'Average Cost for two', 'Currency', 'Has Table booking',
       'Has Online delivery', 'Is delivering now', 'Switch to order menu',
       'Price range', 'Aggregate rating', 'Rating color', 'Rating text',
       'Votes'],
      dtype='object')

In [32]:
for features in df_zomato.columns:
  print(features)

Restaurant ID
Restaurant Name
Country Code
City
Address
Locality
Locality Verbose
Longitude
Latitude
Cuisines
Average Cost for two
Currency
Has Table booking
Has Online delivery
Is delivering now
Switch to order menu
Price range
Aggregate rating
Rating color
Rating text
Votes

In [34]:
df_zomato.isnull().sum()      # here sum() of cuisine which is >0.   i.e. (9)

Restaurant ID           0
Restaurant Name         0
Country Code            0
City                    0
Address                 0
Locality                0
Locality Verbose        0
Longitude               0
Latitude                0
Cuisines                9
Average Cost for two    0
Currency                0
Has Table booking       0
Has Online delivery     0
Is delivering now       0
Switch to order menu    0
Price range             0
Aggregate rating        0
Rating color            0
Rating text             0
Votes                   0
dtype: int64

In [35]:
for features in df_zomato.columns:          #this code runs thru all the columns #for loop
  if df_zomato[features].isnull().sum()>0:  #and if it finds null values and sum of the value is > 0 # if statement
    print(features)                         # it prints value for variable - features which is Cuisines
                                            # *feature is a (variable) that we create just like i.

Cuisines

In [20]:
[features for features in df_zomato.columns if df_zomato[features].isnull().sum()>0] # same code in single line

['Cuisines']

# ===========================================================

In [ ]:
sns.heatmap(df_zomato.isnull(),yticklabels=False,cbar=False,cmap='viridis')

In [ ]:
df_country=pd.read_excel('Country-Code.xlsx')
df_country.head()

In [ ]:
df_country.columns

In [40]:
final_df = pd.merge(df_zomato, df_country, on='Country Code', how='left')

In [ ]:
final_df

In [ ]:
country_names=final_df.Country.value_counts().index
country_val=final_df.Country.value_counts().values
plt.pie(country_val[:3],labels=country_names[:3],autopct='%1.2f%%')

In [43]:
ratings=final_df.groupby(['Aggregate rating','Rating color','Rating text']).size().reset_index().rename(columns={0:'Rating Count'})

In [ ]:
import matplotlib
matplotlib.rcParams['figure.figsize'] = (12, 6)
sns.barplot(x="Aggregate rating",y="Rating Count",data=ratings)