# **Tuesday Sept 12, 2023**

In [15]:
x = 0
y = 0
if x < y:
  print(x, 'is smaller than', y)
elif x > y:
  print(x, 'is greater than', y)
else:
  print(x, 'is equal to', y)


# Lambda Equivalent
result = lambda x,y : f"{x} is smaller than {y}" \
if x < y else (f"{x} is greater than {y}" if x > y \
               else f"{x} is equal to {y}")

0 is equal to 0

In [28]:
percentage = 0
if (percentage >= 78):
  print('pass with first class distinction')
elif (percentage >= 60):
  print('pass with first class')
elif (percentage >= 40):
  print('pass with second class')
elif (percentage >= 33):
  print('pass with third class')
else:
  print('better luck next time')

better luck next time

In [29]:
result = lambda percentage: f"{percentage} pass with first class distinction" if percentage >= 78 else (\
                            f"{percentage} pass with first class" if percentage >= 60  else (\
                            f"{percentage} pass with second class" if percentage >= 40  else (\
                            f"{percentage} pass with third class" if percentage >= 33  else (\
                            f"{percentage} better luck next time"))))

In [33]:
print(result(55))
print(result(80))

55 pass with second class
80 pass with first class distinction

In [57]:
def func_sum(a, b):
  return a + b

In [58]:
func_sum (10,20)

30

In [60]:
def func_sum(a, b, c, d):
  return a + b + c + d

In [61]:
func_sum(10,20,30,40)

100

In [36]:
def func_sum(a, b, c, d, a1, b1, c1, d1):
  return a + b + c + d + a1 + b1 + c1 + d1

In [37]:
def func_sum(*args): # *args (Non-Keyword Arguments)
  return args

In [38]:
def func_sum(*anurag): # *args (Non-Keyword Arguments)
  return anurag

In [39]:
func_sum(12,23,34,45,56,67,78,89,90,101)

(12, 23, 34, 45, 56, 67, 78, 89, 90, 101)

In [52]:
def func_sum(*args):
  sum1 = 0
  for i in args:
    sum1 += i
  return sum1

In [53]:
func_sum(10,20,30,40)

100

In [54]:
def func_sum(a,b,c,*args):   # args must be place at the end
  return a+b+c+(sum(args))

In [86]:
func_sum(10,20,30,40)

100

In [90]:
def func_mul(a,b,c,*args):
  return a*b*c*(args)

In [91]:
func_mul(1,2,3,4,10)

(4, 10, 4, 10, 4, 10, 4, 10, 4, 10, 4, 10)

In [94]:
def func_sum(**kwargs):   # keyword argurments # key in values like dict: a = 'apple'
  return kwargs

In [111]:
func_sum(fname='Anurag', mname='Arun', lname = 'Edlabadkar')

{'fname': 'Anurag', 'mname': 'Arun', 'lname': 'Edlabadkar'}

In [130]:
def func_sum(*args, **kwargs):
  return (args,kwargs)

In [131]:
func_sum(1,2,3,4,5, j = 'jack', h = 'hill')

((1, 2, 3, 4, 5), {'j': 'jack', 'h': 'hill'})

In [145]:
def var (**kwargs, *args):
  return (kwargs, args,)

SyntaxError: ignored

In [146]:
var(j = 'jack', h = 'hill',1,2,3,4,5)

SyntaxError: ignored

In [148]:
def var (a,b,c,*args,**kwargs):
  return (a,b,c,args,kwargs)

In [149]:
var(1,2,3,4,5,6,7,8,9, j = 'jack', h = 'hill')

(1, 2, 3, (4, 5, 6, 7, 8, 9), {'j': 'jack', 'h': 'hill'})