In [42]:
class mother:
  def __init__(self, hair, height, eye):
    self.hair = hair
    self.height = height
    self.eye = eye

  def has_similar(self):
    print(self.hair, self.height, self.eye)

class father:
  def __init__(self, hair, height, eye):
    self.hair = hair
    self.height = height
    self.eye = eye

  def has_similar(self):
    print(self.hair, self.height, self.eye)

class daughter(mother, father):
   def __init__(self, hair, height, eye):
    super().__init__(hair, height, eye)

class son (mother, father):
   def __init__(self, hair, height, eye):
    super().__init__(hair, height, eye)

In [45]:
john = son ('black', 5.8, 'blue')

In [ ]:
john.has_similar()

=====================================================================

In [62]:
class a:
  var_a1 = "This is my first print statement inside class a "
  def __init__(self):
    self.var_a2 = "This my second print statement inside function __init__ of class a"
    self.var_a1 = "Instance variable in class a"
    self.var_tmp1 = "This is var_tmp1 inside class a"

class b(a):
  var_b1 = "this is my third print statement inside class b "
  def __init__(self):

    self.var_b2 = "This is my fouth print statement inside function __init__ of class b"
    self.var_a1 = "Instance variable in class b"
    self.var_tmp1 = "This is var_tmp1 inside class b"
    super().__init__()

In [63]:
obj_a = a()
obj_b = b()

print(obj_a.var_a1)
print(obj_a.var_tmp1)
print(obj_b.var_a1)
print(obj_b.var_a2)
print(obj_b.var_b1)
print(obj_b.var_b2)
print(obj_b.var_tmp1)

Instance variable in class a
This is var_tmp1 inside class a
Instance variable in class a
This my second print statement inside function __init__ of class a
this is my third print statement inside class b
This is my fouth print statement inside function __init__ of class b
This is var_tmp1 inside class a

=====================================================================

In [67]:
class a:
  var_a1 = 'Vehicle'
  def __init__(self):
    self.var_a2 = 'Gas'
    self.var_a1 = 'Diesel'
    self.var_tmp1 = 'Electric'

class b(a):
  var_b1 = 'Animal'
  def __init__(self):
    self.var_b2 = 'Cow'
    self.var_a1 = 'Lamb'
    self.var_tmp1 = 'Pig'
    super().__init__()
    self.var_a2 = 'Fish'
    self.var_a1 = 'Bird'

In [81]:
obj_a = a()
obj_b = b()

print(obj_a.var_a1)
print(obj_a.var_tmp1)
print(obj_b.var_a1)
print(obj_b.var_a2)
print(obj_b.var_b1)
print(obj_b.var_b2)
print(obj_b.var_tmp1)
print(obj_b.var_a2)
print(obj_b.var_a1)

Diesel
Electric
Bird
Fish
Animal
Cow
Electric
Fish
Bird

================================================================

In [78]:

class Dog:
  def __init__(self):
    self.name = 'Bella'
    self.age = 5
    self.size = 4.5

class Maltipoo(Dog):
  def __init__(self):
    self.name = 'Jimmy'
    self.age = 12
    self.size = 14.5
    super().__init__()
    self.breed = 'Boxer'
    self.lbweight = 70

In [ ]:
animal_a = Dog()
animal_b = Maltipoo()

print(animal_a.name)
print(animal_a.age)
print(animal_a.size)
print(animal_b.name)
print(animal_b.age)
print(animal_b.size)
print(animal_b.breed)
print(animal_b.lbweight)

========================================================================