# **Tuesday Sept 12, 2023**

# > Lambda Function

In [ ]:
x = 0
y = 0
if x < y:
  print(x, 'is smaller than', y)
elif x > y:
  print(x, 'is greater than', y)
else:
  print(x, 'is equal to', y)


# Lambda Equivalent
result = lambda x,y : f"{x} is smaller than {y}" \
if x < y else (f"{x} is greater than {y}" if x > y \
               else f"{x} is equal to {y}")

0 is equal to 0

In [ ]:
percentage = 0
if (percentage >= 78):
  print('pass with first class distinction')
elif (percentage >= 60):
  print('pass with first class')
elif (percentage >= 40):
  print('pass with second class')
elif (percentage >= 33):
  print('pass with third class')
else:
  print('better luck next time')

better luck next time

In [ ]:
result = lambda percentage: f"{percentage} pass with first class distinction" if percentage >= 78 else (\
                            f"{percentage} pass with first class" if percentage >= 60  else (\
                            f"{percentage} pass with second class" if percentage >= 40  else (\
                            f"{percentage} pass with third class" if percentage >= 33  else (\
                            f"{percentage} better luck next time"))))

In [ ]:
print(result(55))
print(result(80))

55 pass with second class
80 pass with first class distinction

In [ ]:
def func_sum(a, b):
  return a + b

In [ ]:
func_sum (10,20)

30

In [ ]:
def func_sum(a, b, c, d):
  return a + b + c + d

In [ ]:
func_sum(10,20,30,40)

100

In [ ]:
def func_sum(a, b, c, d, a1, b1, c1, d1):
  return a + b + c + d + a1 + b1 + c1 + d1

In [ ]:
def func_sum(*args): # *args (Non-Keyword Arguments)
  return args

In [ ]:
def func_sum(*anurag): # *args (Non-Keyword Arguments)
  return anurag

In [ ]:
func_sum(12,23,34,45,56,67,78,89,90,101)

(12, 23, 34, 45, 56, 67, 78, 89, 90, 101)

In [ ]:
def func_sum(*args):
  sum1 = 0
  for i in args:
    sum1 += i
  return sum1

In [ ]:
func_sum(10,20,30,40)

100

In [ ]:
def func_sum(a,b,c,*args):   # args must be place at the end
  return a+b+c+(sum(args))

In [ ]:
func_sum(10,20,30,40)

100

In [ ]:
def func_mul(a,b,c,*args):
  return a*b*c*(args)

In [ ]:
func_mul(1,2,3,4,10)

(4, 10, 4, 10, 4, 10, 4, 10, 4, 10, 4, 10)

In [ ]:
def func_sum(**kwargs):   # keyword argurments # key in values like dict: a = 'apple'
  return kwargs

In [ ]:
func_sum(fname='Anurag', mname='Arun', lname = 'Edlabadkar')

{'fname': 'Anurag', 'mname': 'Arun', 'lname': 'Edlabadkar'}

In [ ]:
def func_sum(*args, **kwargs):
  return (args,kwargs)

In [ ]:
func_sum(1,2,3,4,5, j = 'jack', h = 'hill')

((1, 2, 3, 4, 5), {'j': 'jack', 'h': 'hill'})

In [ ]:
def var (**kwargs, *args):
  return (kwargs, args,)

SyntaxError: ignored

In [ ]:
var(j = 'jack', h = 'hill',1,2,3,4,5)

SyntaxError: ignored

In [ ]:
def var (a,b,c,*args,**kwargs):
  return (a,b,c,args,kwargs)

In [ ]:
var(1,2,3,4,5,6,7,8,9, j = 'jack', h = 'hill')

(1, 2, 3, (4, 5, 6, 7, 8, 9), {'j': 'jack', 'h': 'hill'})

Sept 13, 2023, Wed
# **Comprehension**

*   List
*   Dictionary
*   Set
*   Generative

In [ ]:
for i in range (100):
  print(i)

In [ ]:
lst_comp1 = [i for i in range(100)]
print(lst_comp1)

In [ ]:
for i in range (100):
  if i%3 == 0:
    print(i)

In [ ]:
lst_comp2 = [ i for i in range (100) if i%3 == 0]
print(lst_comp2)

In [ ]:
fruit_lst1 = ['apple','banana','cherries','dates','fig']
lst_comp3 = [i for i in fruit_lst1 if 'apple' not in i]
print(lst_comp3)

['banana', 'cherries', 'dates', 'fig']

In [ ]:
food_lst1 = ['apple','pineapple','greenapple','applepie','applejuice']
lst_comp4 = [i for i in food_lst1 if 'apple' in i]
print(lst_comp4)

['apple', 'pineapple', 'greenapple', 'applepie', 'applejuice']

In [ ]:
food_lst2 = ['apple','pineapple','greenapple','applepie','applejuice']
lst_comp5 = [i for i in food_lst2 if 'apple' not in i]
print(lst_comp5)

[]

In [ ]:
name = ['Ch','Dh','Eh','cb','Tb','Td']
for i in name:
  if 'C' in i or 'c' in i:
    print(i)

Ch
cb

In [25]:
name = ['Ch','Dh','Eh','cb','Tb','Td']
lst_comp6 = [ i for i in name if 'C' in i or 'c' in i]
print(lst_comp6)

['Ch', 'cb']

In [40]:
ndimarray = [[10,20,30],
             [40,50,60],
             [70,80,90]]

lst1 = [[i[j] for i in ndimarray] for j in range(len(ndimarray[0]))]
print(lst1)

[[10, 40, 70], [20, 50, 80], [30, 60, 90]]

In [43]:
# Dictionary Comprehension

dictcompre = {i : f'Item {i}' for i in range (10)}
dictcompre

{0: 'Item 0',
 1: 'Item 1',
 2: 'Item 2',
 3: 'Item 3',
 4: 'Item 4',
 5: 'Item 5',
 6: 'Item 6',
 7: 'Item 7',
 8: 'Item 8',
 9: 'Item 9'}

In [44]:
for i in range (10):
  print(i,': Item',+i)

0 : Item 0
1 : Item 1
2 : Item 2
3 : Item 3
4 : Item 4
5 : Item 5
6 : Item 6
7 : Item 7
8 : Item 8
9 : Item 9

In [ ]:
#Set Comprehension

In [51]:
set1 = {1,2,3,2,3,'apple','banana','apple'}
set_comp = { i for i in set1}
set_comp

{1, 2, 3, 'apple', 'banana'}

In [ ]:
#Generator Comprehension