In [ ]:
# 1) try reading the file as dataframe

# 2) Print mean median std for each column

# 3) Print sum of each column

# 4) max  and min value of each column

In [1]:
import pandas as pd

In [5]:
df = pd.read_excel('demo_data.xlsx') # there are some 'nan' values on 'xlsx' dataset

In [15]:
df.shape

(80, 4)

In [18]:
df.dropna().shape

(77, 4)

In [23]:
df_cleaned = df.dropna()

In [24]:
df_cleaned.shape

(77, 4)

In [25]:
df_cleaned.describe()

          Worker       Wage  Education        Age
count  77.000000  77.000000  77.000000  77.000000
mean   41.571429  25.136364  14.000000  49.038961
std    23.012256   7.396915   4.006574  17.247762
min     1.000000  10.030000   6.000000  18.000000
25%    23.000000  19.150000  12.000000  34.000000
50%    42.000000  25.070000  14.000000  51.000000
75%    61.000000  30.850000  17.000000  64.000000
max    80.000000  43.440000  22.000000  77.000000

In [26]:
df_cleaned.median()

Worker       42.00
Wage         25.07
Education    14.00
Age          51.00
dtype: float64

In [27]:
df_cleaned.sum()

Worker       3201.0
Wage         1935.5
Education    1078.0
Age          3776.0
dtype: float64

In [30]:
df_cleaned.min()

Worker        1.00
Wage         10.03
Education     6.00
Age          18.00
dtype: float64

In [31]:
df_cleaned.max()

Worker       80.00
Wage         43.44
Education    22.00
Age          77.00
dtype: float64

In [ ]:
# 5) find mean salary of people with age above 50

# 6) find mean salary of people with age below 20

# 7) find which education category has highest wage

# 8) find education and age for highest and lowest wage

In [ ]:
df_cleaned[(df_cleaned.Age >= 50)]

In [68]:
df_age = df_cleaned[(df_cleaned.Age >= 50)]

In [ ]:
df_age.Wage.mean()

In [72]:
df_age20 = df_cleaned[(df_cleaned.Age <= 20)]

In [ ]:
df_age20.Wage.mean()

In [ ]:
dictionary_of_mean_wage = {}

for k in df_cleaned.Education.value_counts().keys():    # k is education category
  print(k)

In [80]:
dictionary_of_mean_wage = {}

for k in df_cleaned.Education.value_counts().keys():
  dictionary_of_mean_wage[k] = df_cleaned.Wage[df['Education'] == k].mean()
print(dictionary_of_mean_wage)

{12: 22.64363636363636, 16: 29.03875, 8: 17.398571428571426, 15: 27.24857142857143, 18: 31.545714285714286, 10: 19.378333333333334, 17: 28.680000000000003, 14: 27.10833333333333, 20: 32.54, 13: 19.302500000000002, 9: 14.11, 21: 35.39666666666667, 6: 16.134999999999998, 22: 34.95}

In [ ]:
df_cleaned.groupby(['Education']).mean().Wage  # different way

In [82]:
df_cleaned[df_cleaned['Wage']==df_cleaned.Wage.min()]

    Worker   Wage  Education   Age
56    57.0  10.03          9  22.0

In [83]:
df_cleaned[df_cleaned['Wage']==df_cleaned.Wage.max()]

    Worker   Wage  Education   Age
31    32.0  43.44         20  43.0