In [ ]:
total = 0
for i in range (1, 5):
  total += i
print(total)

10

In [ ]:
lst1 = [1,2,4,3,6,5,7,9,10,23,54,34,75,33]
lst2 = lst1.sort()
print(lst1)

[1, 2, 3, 4, 5, 6, 7, 9, 10, 23, 33, 34, 54, 75]

In [ ]:
lst1 = [1, 2, 3, 4, 5, 6, 7, 9, 10, 23, 33, 34, 54, 75]
total = 0
for element in lst1:
  total += element
print(total)

266

In [85]:
lst1 = [1, 2, 3, 4, 5, 6, 7, 9, 10, 23, 33, 34, 54, 75]
total = 0
for element in lst1:
  total += element
print(total)

266

**Aug 30, 2023**

In [118]:
import pandas as pd
#pandas.pydata.org

In [ ]:
path ='/content/Churn_Modelling.csv'                    #comma separated value
df_ChurnModelling_csv = pd.read_csv(path)
df_ChurnModelling_csv                                   #DataFrame

In [ ]:
path = '/content/df_ChurnModelling_html.html'
df_ChurnModelling = pd.read_html(path)
df_ChurnModelling

In [ ]:
path = '/content/df_ChurnModelling_json.json'
df_ChurnModelling = pd.read_json(path)
df_ChurnModelling

In [ ]:
path = '/content/df_ChurnModelling_xml.xml'
df_ChurnModelling = pd.read_xml(path)
df_ChurnModelling

In [ ]:
path = '/content/df_ChurnModelling_xls.xls'
df_ChurnModelling = pd.read_excel(path)      # xls = excel
df_ChurnModelling

In [120]:
!pip install xlwt

Requirement already satisfied: xlwt in /usr/local/lib/python3.10/dist-packages (1.3.0)

In [121]:
import xlwt

In [129]:
df_ChurnModelling_csv.to_excel("df_ChurnModelling_xls.xls")

<ipython-input-129-b5068f926ef5>:1: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead. You can set the option io.excel.xls.writer to 'xlwt' to silence this warning. While this option is deprecated and will also raise a warning, it can be globally set and the warning suppressed.
  df_ChurnModelling_csv.to_excel("df_ChurnModelling_xls.xls")

In [130]:
df_ChurnModelling_csv.to_excel("df_ChurnModelling_xlsx.xlsx")

In [131]:
df_ChurnModelling_csv.to_html("df_ChurnModelling_html.html")

In [132]:
df_ChurnModelling_csv.to_xml("df_ChurnModelling_xml.xml")

In [135]:
df_ChurnModelling_csv.to_json("df_ChurnModelling_json.json")

**Components of Python Pandas**

*   Series
*   DataFrame

In [149]:
import pandas as pd

lst1 = [12,23,34,45,56,67,78,89,90,110]
sr1 = pd.Series(lst1)
sr1, sr1.ndim

(0     12
 1     23
 2     34
 3     45
 4     56
 5     67
 6     78
 7     89
 8     90
 9    110
 dtype: int64,
 1)

In [148]:
str1 = ('My', 'God', 'Python', 'Programming')
sr1 = pd.Series(str1)
sr1, sr1.ndim

(0             My
 1            God
 2         Python
 3    Programming
 dtype: object,
 1)

In [152]:
tpl2 = ([[1,2,3],[4,5,6],[7,8,9],[-9,-8,-7]])
sr2 = pd.Series(tpl2)
sr2, sr2.ndim

(0       [1, 2, 3]
 1       [4, 5, 6]
 2       [7, 8, 9]
 3    [-9, -8, -7]
 dtype: object,
 1)

In [ ]:
import pandas as pd

lst1 = [12,23,34,45,56,67,78,89,90,110]
sr1 = pd.Series(lst1)
sr1, len(sr1), sr1.count(), sr1.ndim, type(sr1), sr1.size, sr1.dtype, sr1.item, sr1.items, sr1.nbytes, sr1.shape

In [ ]:
tpl2 = ([[1,2,3],[4,5,6],[7,8,9],[-9,-8,-7]])
sr2 = pd.Series(tpl2)
sr2, len(sr2), sr2.count(), sr2.ndim, type(sr2), sr2.size, sr2.dtype, sr2.item, sr2.items, sr2.nbytes, sr2.shape

In [162]:
dict3 = {'d':'data','p':'python','n':'numpy','pd':'pandas'}
sr3 = pd.Series(dict3)
sr3, len(sr3), sr3.count(), sr3.ndim, type(sr3), sr3.size, sr3.dtype, sr3.item, sr3.items, sr3.nbytes, sr3.shape

(d       data
 p     python
 n      numpy
 pd    pandas
 dtype: object,
 4,
 4,
 1,
 pandas.core.series.Series,
 4,
 dtype('O'),
 <bound method IndexOpsMixin.item of d       data
 p     python
 n      numpy
 pd    pandas
 dtype: object>,
 <bound method Series.items of d       data
 p     python
 n      numpy
 pd    pandas
 dtype: object>,
 32,
 (4,))