In [1]:
# Program 1: Print following pattern
for i in range(0, 10): # 0,1,2,3,4,5,6,7,8,9
      for j in range(0, i):
            print(" ", end="")
      for k in range(i+1, 11, 1):
            if k == 10:
              print(0, end=" ")
            else:
              print(k, end=" ")
      print('\r')

1 2 3 4 5 6 7 8 9 0
 2 3 4 5 6 7 8 9 0
  3 4 5 6 7 8 9 0
   4 5 6 7 8 9 0
    5 6 7 8 9 0
     6 7 8 9 0
      7 8 9 0
       8 9 0
        9 0
         0

In [2]:
# Program 2: Print following pattern

for i in range(0,10):
      for k in range(0,i+1):
            print('',end=' ')

      for j in range(10-i,0,-1):
            if j == 10:
              print(0,end=' ')
            else:
              print(j,end=' ')
      print('\r')

 0 9 8 7 6 5 4 3 2 1
  9 8 7 6 5 4 3 2 1
   8 7 6 5 4 3 2 1
    7 6 5 4 3 2 1
     6 5 4 3 2 1
      5 4 3 2 1
       4 3 2 1
        3 2 1
         2 1
          1

In [3]:
# Program 3: Print following pattern

for i in range(0,10):
      for k in range(0,i+1):
            print('',end=' ')

      for j in range(10-i,0,-1):
            if j == 10:
              print(0,end=' ')
            else:
              print(j,end=' ')
      print('\r')
for i in range(0,9):
      for k in range(10,i+1,-1):
            print('',end=' ')

      for j in range(2+i, 0, -1):
            if j == 10:
              print(0,end=' ')
            else:
              print(j,end=' ')

      print('\r')

 0 9 8 7 6 5 4 3 2 1
  9 8 7 6 5 4 3 2 1
   8 7 6 5 4 3 2 1
    7 6 5 4 3 2 1
     6 5 4 3 2 1
      5 4 3 2 1
       4 3 2 1
        3 2 1
         2 1
          1
         2 1
        3 2 1
       4 3 2 1
      5 4 3 2 1
     6 5 4 3 2 1
    7 6 5 4 3 2 1
   8 7 6 5 4 3 2 1
  9 8 7 6 5 4 3 2 1
 0 9 8 7 6 5 4 3 2 1

In [4]:
# Program 4: Print following pattern

x = 0
for i in range(0 , 9):
  x += 1
  for j in range(0, i + 1):
    print(x , end=" ")
  print("\r")

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6
7 7 7 7 7 7 7
8 8 8 8 8 8 8 8
9 9 9 9 9 9 9 9 9

In [5]:
# Program 5: Print following pattern
n = 8
for k in range(1, n + 1):
  for m in range(1, k-1):
    print(m, end=" ")
  for m in range(k-1, 0, -1):
    print(m, end=" ")
  print('\r')

1
1 2 1
1 2 3 2 1
1 2 3 4 3 2 1
1 2 3 4 5 4 3 2 1
1 2 3 4 5 6 5 4 3 2 1
1 2 3 4 5 6 7 6 5 4 3 2 1

In [9]:
    n = 10
    for r in range(1, n):
        digit = 1
        for m in range(n, 0, -1):
            if m > r:
                print("", end=' ')
            else:
                print(digit, end=' ')
                digit += 1
        print("")

         1
        1 2
       1 2 3
      1 2 3 4
     1 2 3 4 5
    1 2 3 4 5 6
   1 2 3 4 5 6 7
  1 2 3 4 5 6 7 8
 1 2 3 4 5 6 7 8 9

In [10]:


    n = 10
    for k in range(0, n):
        for m in range(0, k + 1):
            print(k * m, end=' ')
        print('\r')

0
0 1
0 2 4
0 3 6 9
0 4 8 12 16
0 5 10 15 20 25
0 6 12 18 24 30 36
0 7 14 21 28 35 42 49
0 8 16 24 32 40 48 56 64
0 9 18 27 36 45 54 63 72 81

In [11]:


    n = 10
    for k in range(0, n):
        for m in range(n-1, k-1):
            print(m, end=" ")
        for j in range(k):
            print('', end=" ")
        for h in range(k + 1, n):
            print(h, end=" ")
        print('\r')

1 2 3 4 5 6 7 8 9
 2 3 4 5 6 7 8 9
  3 4 5 6 7 8 9
   4 5 6 7 8 9
    5 6 7 8 9
     6 7 8 9
      7 8 9
       8 9
        9

In [12]:


    beg = 1
    end = 2
    curr = end
    for r in range(1, 8):
        for c in range(beg, end):
            curr -= 1
            print(curr, end=' ')
        print("")
        beg = end
        end += r
        curr = end

1
2
4 3
7 6 5
11 10 9 8
16 15 14 13 12
22 21 20 19 18 17

In [13]:


    n = 7
    digit = n
    for k in range(n, 0, -1):
        for m in range(0, k):
            print(digit, end=' ')
        print("\r")

7 7 7 7 7 7 7
7 7 7 7 7 7
7 7 7 7 7
7 7 7 7
7 7 7
7 7
7

In [14]:
# Python Program to Find the Square Root

# Python Program to calculate the square root

# Note: change this value for a different result
num = 8

# To take the input from the user
#num = float(input('Enter a number: '))

num_sqrt = num ** 0.5
print('The square root of %0.3f is %0.3f'%(num ,num_sqrt))

The square root of 8.000 is 2.828