In [15]:
str1 = "Peppa Prefer Python Programming"
print(str1 [:5:])
print(str1 [6:13:1])
print(str1 [13:19:1])
print(str1 [19:31:1])

Peppa
Prefer
Python
 Programming

In [25]:
str1 = "GaneshBahadurGurung"
print(str1[-1:-7:-1], str1[-7:-14:-1], str1[-14:-20:-1])
print(str1[-14:-20:-1], str1[-7:-14:-1], str1[-1:-7:-1])

gnuruG rudahaB hsenaG
hsenaG rudahaB gnuruG

In [55]:
str1 = "Peppa Prefer Python Programming"
print (str1[-1:-12:-1], str1[-5:-12:-1], str1[-12:-19:-1], str1[-18::-1])

gnimmargorP margorP  nohtyP P referP appeP

In [46]:
str1 = 'Venkatanarasimharajuvaripeta'


print(str1[-22::-1],str1[-13:-22:-1],str1[-9:-13:-1],str1[-1:-9:-1])
print(str1[6::-1],str1[15:6:-1],str1[19:15:-1],str1[27:19:-1])

atakneV ahmisaran ujar atepirav
atakneV ahmisaran ujar atepirav

In [61]:
#Positive Indexing Negative Slicing
str1 = "Peppa Prefer Python Programming"
print(str1[5::-1],str1[6:12:-1])

 appeP

In [80]:
str1 = 'VenkataNarasimhaRajuvaripeta'
print(str1[:-21:1],str1[-21:-12:1],str1[-12::1])
str1 = 'VenkataNarasimhaRajuvaripeta'
print(str1[:-21:],str1[-21:-12:],str1[-12::])
str1 = 'VenkataNarasimhaRajuvaripeta'
print(str1[:-21],str1[-21:-12],str1[-12:])

Venkata Narasimha Rajuvaripeta
Venkata Narasimha Rajuvaripeta
Venkata Narasimha Rajuvaripeta

In [82]:
lst1 = ['apple','banana','cherries','dates','eggfruit']
print(lst1)
print(type(lst1))

['apple', 'banana', 'cherries', 'dates', 'eggfruit']
<class 'list'>

In [95]:
lst1[0],lst1[1],lst1[2],lst1[3],lst1[4]
print(lst1[::])
print(lst1[:len(lst1):])
print(lst1[::1])
print(lst1[:5:])
print(lst1[-1::-1])
print(lst1[5::-1])
print(lst1[-5::1])

['apple', 'banana', 'cherries', 'dates', 'eggfruit']
['apple', 'banana', 'cherries', 'dates', 'eggfruit']
['apple', 'banana', 'cherries', 'dates', 'eggfruit']
['apple', 'banana', 'cherries', 'dates', 'eggfruit']
['eggfruit', 'dates', 'cherries', 'banana', 'apple']
['eggfruit', 'dates', 'cherries', 'banana', 'apple']
['apple', 'banana', 'cherries', 'dates', 'eggfruit']

In [99]:
tup1 = ('apple','banana','cherries','dates','eggfruit')
print(tup1)
print(type(tup1))
print(tup1[::])
print(tup1[:len(tup1):])
print(tup1[::1])
print(tup1[:5:])
print(tup1[-1::-1])
print(tup1[5::-1])
print(tup1[-5::1])

('apple', 'banana', 'cherries', 'dates', 'eggfruit')
<class 'tuple'>
('apple', 'banana', 'cherries', 'dates', 'eggfruit')
('apple', 'banana', 'cherries', 'dates', 'eggfruit')
('apple', 'banana', 'cherries', 'dates', 'eggfruit')
('apple', 'banana', 'cherries', 'dates', 'eggfruit')
('eggfruit', 'dates', 'cherries', 'banana', 'apple')
('eggfruit', 'dates', 'cherries', 'banana', 'apple')
('apple', 'banana', 'cherries', 'dates', 'eggfruit')