In [ ]:
# lambda - is an ananymous function

In [1]:
a = lambda x,y : x*y
a(10,10)

100

In [2]:
str1 = "Python Programming"
x = lambda str1:str1.upper()
x(str1)

'PYTHON PROGRAMMING'

In [3]:
str1 = "Python Programming"
str1.upper()

'PYTHON PROGRAMMING'

In [4]:
x = lambda a,b:a if (a > b) else b
x(10,10)

10

In [ ]:
# *args, **kwargs

In [5]:
def func_one(a,b):
  return a*b
func_one(10,10)

100

In [7]:
def func_two(*args):
  return args

func_two(12,23,34,45,67)

(12, 23, 34, 45, 67)

In [8]:
def func_two(*employee_data):      # can put any name for '*args'
  return employee_data
func_two('Rohit','Anurag','Nirusha')

('Rohit', 'Anurag', 'Nirusha')

In [9]:
def func_three(**kwargs):
  return kwargs

func_three(analyst = 'Anurag', Engineer = 'Rohit', Organizer = 'Nirusha')

{'analyst': 'Anurag', 'Engineer': 'Rohit', 'Organizer': 'Nirusha'}

In [10]:
def func_three(**employee_data2):   # can put any name for '**kwargs'
  return employee_data2

func_three(analyst = 'Anurag', Engineer = 'Rohit', Organizer = 'Nirusha')

{'analyst': 'Anurag', 'Engineer': 'Rohit', 'Organizer': 'Nirusha'}

In [ ]:
def func_four(a,b,*args,**kwargs):      # this should be the sequence
  return a,b,args,kwargs

In [11]:
#pandas
import pandas as pd

In [12]:
employee_data = pd.read_csv('/content/employee_data.csv')

In [ ]:
employee_data

In [19]:
employee_data.to_excel('employee_excel_data.xlsx') # convert to xlsx

In [21]:
employee_data.to_html('employee_html_data.html')  #convert to html